html{
	height: 100%;
}

body {
	/*background: linear-gradient(to left, rgba(7, 27, 82, 1) 0%, rgba(0, 128, 128, 1) 100%);*/
	background: linear-gradient(to left, #071B52 0%, #008080 100%);
	/*background-color: #D2D7D3;*/
	font-family: 'Poppins', sans-serif;
	height: 90%;
}

img{
	width: 70px;
	height: 30px;
}

.bloc {
	background-color: #FFFFFF;
	border: 1px solid black;
	box-shadow: 3px 3px 30px black;
	border-radius: 15px;
	/*transition: 1s all;*/
	/*font-family: 'Poppins', sans-serif;*/
}

.bloc-module {
	background-color: rgba(255, 255, 255, 0.2);
	border: 1px solid black;
	box-shadow: 3px 3px 30px black;
	border-radius: 15px;
	/*transition: 1s all;*/
	/*font-family: 'Poppins', sans-serif;*/
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.separation {
	border: 2px solid #35373B;
	border-radius: 15px;
}

.card{
	transition: all 1s;
}

#card1, #card2, #card3{
	box-shadow: 2px 1px 2px black;
}

#card1:hover, #card2:hover, #card3:hover{
	box-shadow: 4px 4px 15px black;
}

.card:hover{
	transform: scale(1.1);
}

.titre-modifier{
	font-variant: small-caps;
	color: #FFA631;
	text-shadow: 0.5px 0.5px 1px black;
	font-size: 1.2em;
}

.titre-supprimer{
	font-variant: small-caps;
	color: #CF3A24;
	text-shadow: 0.5px 0.5px 1px black;
	font-size: 1.2em;
}

.navbar{
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}

.btn-degrade{
	background: linear-gradient(to left, rgba(7, 27, 82, 1) 0%, rgba(0, 128, 128, 0.8) 100%);
	border: 1px solid black;
	color: white;
	transition: 0.5s all;
}

.btn-degrade:hover{
	box-shadow: inset 0 0 30px rgba(252, 252, 252, 0.5);
	text-shadow: 1px 1px 1px rgba(7, 27, 82, 1);
	color: white;
}

.titre-page {
	color: white;
	text-shadow: 0.8px 0.4px 1px black;
}